<div >
<center><h3>Фактура Номер</h3>
{{invoice.invoiceNumber}}
</center>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title" id="sender">Доставчик</h3>
  </div>
  <div class="panel-body">
    <company [company]="getSender()" id="senderCompany"></company>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title" id="recipient">Получател</h3>
  </div>
  <div class="panel-body">
    <company [company]="getRecipient()" id="recipientCompany"></company>
  </div>
</div>
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title" id="items">Основания</h3>
  </div>
  <div class="panel-body">
    <items [items]="getItems()" id="item"></items>
  </div>
</div>