<div *ngIf="invoiceForm.controls['invoiceNumber'].dirty && !invoiceForm.controls['invoiceNumber'].valid" class="ui error message">
  Номерът на фактурата трябва да се с дължина 10 цифри.</div>
<div *ngIf="invoiceForm.find('sender').controls['senderName'].dirty && !invoiceForm.find('sender').controls['senderName'].valid" class="ui error message">
  Името на компанията не е попълнено.</div>
<div *ngIf="invoiceForm.find('sender').controls['senderMol'].dirty && !invoiceForm.find('sender').controls['senderMol'].valid" class="ui error message">
  Полето за мол не е попълнено.</div>
<div *ngIf="invoiceForm.find('sender').controls['senderAddress'].dirty && !invoiceForm.find('sender').controls['senderAddress'].valid" class="ui error message">
  Полето за адреса не е попълнено.</div>
<small [hidden]="true">ЕИК номерът не отговаря на изискванията.</small>
<!--<form #newInvoice="ngForm">-->
<form #newInvoice [formGroup]="invoiceForm">
  <input type="text" id="invoiceN" placeholder="Invoice number" [formControl]="invoiceForm.controls['invoiceNumber']">
  <div formGroupName="sender">
    <input type="text" placeholder="sender company name" [formControl]="invoiceForm.find('sender').controls['senderName']">
    <input type="text" placeholder="sender mol" [formControl]="invoiceForm.find('sender').controls['senderMol']">
    <input type="text" placeholder="sender address" [formControl]="invoiceForm.find('sender').controls['senderAddress']">
    <!--<input type="text" placeholder="sender eik" [formControl]="senderEik">-->
    <!--<input type="checkbox" name="isVatRegistered" placeholder="sender is registered VAT" ngModel>-->
  </div>
  <!--<div formGroupName="recipient">-->
    <!--<input type="text" [formControl]="name" placeholder="recipient company name" pattern="\A[а-яА-Я0-9\s]{1,50}\Z">-->
    <!--<input type="text" [formControl]="mol" placeholder="recipient mol" pattern="\A[а-яА-Я\s]{1,50}\Z">-->
    <!--<input type="text" [formControl]="address" placeholder="recipient address" pattern="\A[а-яА-Я0-9\s]{1,70}\Z">-->
    <!--<input type="text" [formControl]="eik" placeholder="recipient eik" pattern="\A\d{9}\Z">-->
    <!--<input type="checkbox" name="isVatRegistered" placeholder="recipient is registered VAT" ngModel>-->
  <!--</div>-->
  <!--<div formGroupName="item">-->
    <!--<input type="text" [formControl]="description" placeholder="item description" pattern="\A[а-яА-Я0-9\s]{1,70}\Z">-->
    <!--<input type="text" [formControl]="quantity" placeholder="item quantity" pattern="\A\d{1,9}\Z">-->
    <!--<input type="text" [formControl]="priceWithoutVAT" placeholder="item price" pattern="\A\d{1,9}\Z">-->
  <!--</div>-->
  <!--<input type="button" value="Save" (click)="addNewInvoice(newInvoice.value.invoiceNumber,-->
  <!--newInvoice.value.sender, newInvoice.value.recipient, newInvoice.value.item)">-->
</form>
